.all_lists {
    padding-top: 0 !important;
}

.list_cat_wise ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: auto;
    width: 100%;

}

.list_cat_wise li {
    flex: 0 0 80px;
    background-image: linear-gradient(to bottom right, var(--primary) 50%, var(--secondary));
    color: var(--white);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
}

.list_cat_wise li:not(:last-child) {
    margin-right: 10px;
}

.list_cat_wise li:nth-child(2) {
    background-image: linear-gradient(to bottom right, #f5b0bb 50%, #f9bea7);
}

.list_cat_wise li:nth-child(3) {
    background-image: linear-gradient(to bottom right, #c094ee 50%, #9986df);
}

.list_cat_wise li:nth-child(4) {
    background-image: linear-gradient(to bottom right, #5bd0b2 50%, #6fd7cb);
}


.cardTitle {
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.toDoCard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    background: var(--white);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 6px;
    border-radius: 6px
}

.toDoIcon {
    font-size: 30px;
    color: #00000026;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
}

.toDoCard.completed .toDoIcon {
    color: var(--blue);
}

.toDoCard.completed .toDoTitle {
    text-decoration: line-through;
}

.toDoIcon.incompleted {
    color: var(--red);
}

.toDoCardContent {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    flex: 0 0 calc(100% - 50px);
}

.expandIcon {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888888;
    cursor: pointer;
}

.toDoTitle {
    font-size: 15px;
    font-weight: 500
}

.dateTime {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    opacity: 0.5;
    padding-top: 6px;
}



.toDoExpanded {
    flex: 0 0 100%;
}

.toDoExpanded p {
    font-size: 14px;
    padding-top: 15px;
}

.toDoExpanded p span {
    display: block;
    padding-bottom: 6px;
}

.toDoAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.toDoAction label {
    font-size: 14px;
}

.toDoActionDelete {
    font-size: 20px;
    color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .list_cat_wise ul {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .list_cat_wise ul::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (min-width: 768px) {

    .list_cat_wise ul::-webkit-scrollbar {
        height: 4px;
        width: 4px;
        padding-top: 4px;
        border-bottom: 10px solid var(--lightColor);
    }
}